.car-listing-filters .flex-col {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}
#about-field {height: 100px }